html {
    background-color: white;
    font-family: "Centaur", Times, "Times New Roman", serif
}

/* Learn the Bow Logo */
#logo {
    max-height: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* form for user input */
#dropdownmenus {
    display: flex;
    /* align-items: center; */
    flex-flow: column wrap;
    justify-content: center;
    max-width: 100%;
    align-content: center;
    font-size: larger;
}

/* each dropdown menu */
.dropdownmenus {
    margin-bottom: 30px;
    padding: 15px;
}

/* Find Your Bow Button */
button {
    cursor: pointer;
    text-align: center;
    background-color: #727272;
    color: white;
    font-size: larger;
    padding: 10px;
    margin: 15px;
    border: 1px solid #727272;
    border-radius: 5px;
    transition: .3s;
}

button:hover {
    color: #727272;
    background-color: white;
}

button.save {
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: #727272;
    font-size: medium;
    margin: 10px;
    border: 1px solid #727272;
    border-radius: 5px;
    transition: .2s;
}

button.save:hover {
    color: #727272;
    background-color: white;
    transition: .3s;
}

button.remove {
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: #727272;
    font-size: small;
    padding: 10px;
    margin: 15px;
    border: 1px solid #727272;
    border-radius: 5px;
    transition: .3s;
}

button.remove:hover {
    color: white;
    background-color: #727272;
    transition: .3s;
}

h2 {
    font-size: 20px;
    color: #0d1a32;
    margin-bottom: 2px;
    margin-top: 15px;
}

h2.favoriteBows {
    background-color: white;
    color: #0d1a32;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    font-size: large;
    text-align: center;
    padding: 15px;
    margin: 45px 0px 15px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    color: #0d1a32;
}

h4 {
    cursor: pointer;
    color: #0d1a32;
}

h3 {
    color: #0d1a32;
}

select.dropdownmenus {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    background-color: #0d1a32;
    color: white;
    border: 1px solid #0d1a32;
    border-radius: 5px;
}

#results {
    text-align: center;
}

#favorites {
    text-align: center;
}


/* Bow pictures */
.image {
    max-width: auto;
    max-height: 250px;
    animation: fadeIn ease 4s;
    /* width: auto;
    height: 300px; */
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}        
    }

h5 {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: large;
    color: #0d1a32;
}

p {
    margin-top: -5px;
}

a:link {
    color: white;
    cursor: pointer;
    text-align: center;
    background-color: #727272;
    font-size: medium;
    padding: 7px;
    margin: 20px;
    border: 1px solid #727272;
    border-radius: 5px;
    transition: .2s;
}

a:visited {
    color: white;
    background-color: #0d1a32;
}

a:hover {
    cursor: pointer;
    color: #727272;
    background-color: white;
}

/* Bow Container */
.bowbox1 {
    transition: 1s;
    border: 1px solid #0d1a32;
    border-radius: 5px;
    margin-bottom: 15px;
}

.bowbox2 {
    transition: 1s;
    border: 1px solid #0d1a32;
    border-radius: 5px;
    margin-bottom: 15px;
}
.bowbox3 {
    transition: 1s;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* .favorites {
    margin-left: auto;
    margin-right: auto;
} */

/* Give it some cool transitions on the link hover */

/* for Larger screen */
@media screen and (min-width: 768px) {

    /* Would I change anything for a large screen? */
    p {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 15%;
        padding-top: 10px;
    }

    hr {
        width: 30%;
    }

    .image {
        max-width: auto;
        max-height: 500px;
    }

    #results {
        text-align: center;
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    #favorites {
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    h2.favoriteBows {
        max-width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .bowbox1 {
        height: 900px;
        width: 400px;
        margin: 20px;
    }

    .bowbox1:hover {
        position: relative;
        top: -10px;
    }

    .bowbox2 {
        width: 400px;
        margin: 20px;
    }

    .bowbox2:hover {
        position: relative;
        top: -10px;
    }

    .bowbox3 {
        width: 400px;
        margin: 20px;
        float: left;
    }

    .bowbox3:hover {
        position: relative;
        top: -10px;
    }
}