body {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  background-color: #1d3557;
  color: white;
  padding: 1em;
}

h2 {
  color: #457b9d;
  padding: .5em;
}

h3 {
  padding: .5em;
}

h4 {
  padding: .5em;
}

p {
  padding: .5em;
}

#story_editor {
  width:800px;
  height: 250px;
  background-color: azure;
  padding: .5em;
  margin: 10px;
}

a:link, a:visited {
  background-color: #1d3557;
  color: white;
}

button {
  padding: 10px;
  margin: 3px 8px;
}
